body {
	background-image: url("bglogo.png");
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #07294D;
}
h2 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
  font-weight: 600;
  margin: 0 auto;
  padding: 10px;
  color: #07294D;
}

p {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
  font-size: 16px;
  color: #00000;
}

p.link {
  text-align: center;
  font-size: 18px;
  color: #FFC600;
	margin-top: 10px;
}
p.credit {
	font-size: 12px;
	margin-top: 50px;
}
a {
  text-decoration: underline;
  color: #3455F3;
}
a:hover {
	cursor: pointer;
}

#bingotable {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 400px;
  border-collapse: collapse;
}
#container {
	background-color: #ffffff;
	padding: 25px;
}
#instructions {
	max-width: 600px;
}
th, td {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 20%;
	height: 80px;
	padding: 0;
  font-size: 30px;
  font-weight: bold;
}

th {
background-color: #07294D;
color:  #FFC600;	
}

td.cellopen:hover {
	background-color: #07294D !important;
	color: white;
}

td.cellclosed {
	background-color: #FFC600;
}
td.cellopen {
	background-color: #ffffff;
}
td.cellfree {
	background-color: #07294D;
}

